*{
    box-sizing: border-box;
    color: whitesmoke;
    font-family: sans-serif;
}

body{
    background-color: #170132;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.search-container{
    border: 1px solid whitesmoke;
    width: 90%;
    margin: 10px auto;
    padding: 30px 0;
    max-width: 800px;
    text-align: center;
    background-color: #260450;
}

h1{
    margin-top: 0;
}

#search-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input{
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

#searchBtn, a{
    background-color: transparent;
    border: 1px solid whitesmoke;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

#searchBtn:hover, a:hover {
    background-color: whitesmoke;
    color: black;
}

.movie-box{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid whitesmoke;
    width: 80%;
    margin: 20px auto;
    background-color: #260450;
}

img{
    max-height: 200px;
}

.right-column{
    margin-left: 5%;
    text-align: left;
}

h1{
    text-align: center;
}

.display-container{
    text-align: center;
}

.add-btn, .remove-btn{
    padding: 10px 30px;
    color: #260450;
    background-color: antiquewhite;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms;
}

.add-btn:hover, .remove-btn:hover{
    transform: scale(1.2);
}

